<!DOCTYPE html>
<html>
<head>
	<title>
		Dynamic Calculator
	</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
</head>
<body>
<style type="text/css">
	button {
		width:100%;
	}
</style>

<div class="container-fluid" id="mainContainer">
	<h1>Dynamic Calculator</h1>
	<table>
		<tbody>
			<tr>
				<td colspan="4">
					<input type="text" name="result" id="result" disabled>
				</td>
			</tr>
			<tr>
				<td>
					<button onclick="printInteger('9')" >9</button>
				</td>
				<td>
					<button onclick="printInteger('8')">8</button>
				</td>
				<td>
					<button onclick="printInteger('7')">7</button>
				</td>
				<td>
					<button onclick="printSymbol('*')">*</button>
				</td>
			</tr>

			<tr>
				<td>
					<button onclick="printInteger('6')">6</button>
				</td>
				<td>
					<button onclick="printInteger('5')">5</button>
				</td>
				<td>
					<button onclick="printInteger('4')">4</button>
				</td>
				<td>
					<button onclick="printSymbol('/')">/</button>
				</td>
			</tr>
			<tr>
				<td>
					<button onclick="printInteger('3')">3</button>
				</td>
				<td>
					<button onclick="printInteger('2')">2</button>
				</td>
				<td>
					<button onclick="printInteger('1')">1</button>
				</td>
				<td>
					<button onclick="clearCalculator()">AC</button>
				</td>
			</tr>
			<tr>
				<td>
					<button onclick="printInteger('0')">0</button>
				</td>
				<td>
					<button onclick="printSymbol('+')">+</button>
				</td>
				<td>
					<button onclick="printSymbol('-')">-</button>
				</td>
				<td>
					<button onclick="printFinalOutput()">=</button>
				</td>
			</tr>

		</tbody>
		
	</table>			
</div>
<script type="text/javascript">

$(document).ready(function()
{
	
	$('table').click(function()
	{
		//alert("clicked on table");	
	})
});


	var output =0;
	var numberOneProvided = false;
	var numberTwoProvided = false;

	function clearCalculator()
	{
		document.querySelector("#result").value = '';
	}

	function printInteger(inputFromCalculator) 
	{
		document.querySelector("#result").value += inputFromCalculator;		
	}

	function printSymbol(inputFromCalculator)
	{
		document.querySelector("#result").value += inputFromCalculator;
	}

	function printFinalOutput()
	{			
		//document.querySelector("#result").value = output;

		var expression = document.querySelector("#result").value;
	
		expression+="=";
		//expression 22+32+22=

		if(sanityCheck(expression)==true)
		{
			divideAndConquer(expression);

		 	 
		}

	}

	function divideAndConquer(expression)
	{
		var number1;
		var number2;
		var symbol1;
		var symbol2;
		var miniExpressionLength;
		var partialOutput;
		for(var i=0;i<expression.length;i++)
		 	 {
		 	 	if(isNumber(expression[i])==true && number1==null)
		 	 	{
		 	 		number1=expression[i];
		 	 	}
		 	 	else
		 	 	{
		 	 		if(isNumber(expression[i])==true && number1!=null && symbol1==null)
			 	 	{
			 	 		number1 = number1 + expression[i]; 	
			 	 	}
	
		 	 	}	

		 	 	if(symbol1!=null && number1!=null && isNumber(expression[i])==true && number2==null)
		 	 	{
		 	 		number2 = expression[i];
		 	 	}
		 	 	else
		 	 	{
		 	 		if(symbol1!=null && number1!=null && isNumber(expression[i])==true && number2!=null && symbol2==null)
		 	 		{
		 	 			number2 = number2 + expression[i];		
		 	 		}
		 	 	} 

		 	 	
		 	 	if(isSymbol(expression[i])==true && symbol1==null)
		 	 	{
		 	 		symbol1=expression[i];
		 	 	}
		 	 	else
		 	 	{
		 	 		if(isSymbol(expression[i])==true && symbol1!=null)
		 	 		{
		 	 			symbol2=expression[i];		
		 	 		}
		 	 	}

		 	 	if(symbol2!=null)
		 	 	{
		 	 		miniExpressionLength = i;
		 	 		//console.log("length of mini expression ="+i)
		 	 		break;
		 	 	}	
		 	 }

		 	partialOutput = calculate(number1,number2,symbol1);
		 	expression =  partialOutput+""+expression.substring(miniExpressionLength,expression.length);

			if(symbol1!=null)
			{
				divideAndConquer(expression);
			}
			else
			{
				console.log("expression ="+expression); 
		 		return expression;	
			}	 	

		 	
		 	 
	}

	function calculate(number1,number2,symbol)
	{
		number1 = parseInt(number1);
		number2 = parseInt(number2);

		if(symbol=='+')
			return number1+number2;

		if(symbol=='-')
			return number1-number2;

		if(symbol=='/')
			return number1/number2;

		if(symbol=='*')
			return number1*number2;

		// if(symbol=='%')
		// 	return number1%number2;
	}

	function sanityCheck(expression)
	{
		//case example +2+2
		if(isNumber(expression[0])==false)
		{
			alert("invalid expression");
			return false;
		}

		for(var i=0;i<expression.length;i++)
		{

			//case example 2++2
			if(isSymbol(expression[i])==true && isSymbol(expression[i+1])==true)
			{
				alert("invalid expression");
				return false;
			}

		}
		return true;

	}

	function isNumber(whatever)
	{
    	if(isNaN(parseInt(whatever)))
    		return false;
    	else
    		return true;
	}

	function isSymbol(whatever)
	{
    	if(isNaN(parseInt(whatever)))
    		return true;
    	else
    		return false;
	}

	//sanityCheck("2+22=");

</script>

</body>
</html>