<!DOCTYPE html>
<html>
<head>
	<title>Third Session</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/third.css">
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
</head>
<body>
		<div class="container" style="display:none" 
		id="firstDiv">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>

		<div class="container" style="display: none">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>

		<!-- heading tags -->

	<!-- 	<h1>Heading 1</h1>
		<h6>Heading 2</h6> -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9 col-sm-12">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</div>
				<div  class="col-md-3 col-sm-12">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.	
				</div>		
			</div>

			<div class="alert alert-success" role="alert">
			  A simple success alert—check it out!
			</div>

			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>


			<button type="button" class="btn btn-danger abcd" 
			onclick="showDiv()">
			  Notifications <span class="badge badge-light">4</span>
			</button>
			<br/>
			From : <input type="text" id="capture">
			To : <input type="text" id="display">	
			<button id="transportButton" onclick="transportValues()"> Transport </button>
		</div>
		<script type="text/javascript">

			function showDiv()
			{
				var divElementArray = document.querySelectorAll('.container');
				//console.log(divElement);
				for(var i=0;i<divElementArray.length;i++)
				{
					var divElement = divElementArray[i]; 
					if(divElement.style.display =='block')
					{
						divElement.style.display ='none';	
					}
					else
					{
						divElement.style.display ='block';
					}
					divElement.style.backgroundColor = 'yellow';
				}
				
	
			}

			function transportValues()
			{
				var fromValue = document.querySelector('#capture').value;
				console.log(fromValue);

				document.querySelector('#display').value = fromValue;
			}

			
		</script>
</body>
</html>